# Node modules
node_modules

# IDE/editor config files
.idea
*.iml
*.project
*.settings
*.vscode/

# Test coverage
coverage/*

# Sass
.sass-cache/

# Compiled Python bytecode
.DS_Store

# Compiled source #
bower_components/